pkgbase = isi-music-bin
    pkgdesc = Terminal music player for Spotify streaming and local file playback
    pkgver = 2.0.5
    pkgrel = 1
    url = https://github.com/glrmrissi/isi_music
    arch = x86_64
    arch = aarch64
    license = MIT
    depends = alsa-lib
    depends = libpulse
    depends = dbus
    depends = hicolor-icon-theme
    depends = glibc
    depends = gcc-libs
    provides = isi-music
    conflicts = isi-music
    options = !strip
    source = isi-music.desktop::https://raw.githubusercontent.com/glrmrissi/isi_music/v2.0.5/assets/isi-music.desktop
    source = isi-music.png::https://raw.githubusercontent.com/glrmrissi/isi_music/v2.0.5/assets/icons/hicolor/256x256/apps/isi-music.png
    source = LICENSE::https://raw.githubusercontent.com/glrmrissi/isi_music/v2.0.5/LICENSE
    source_x86_64 = isi-music-linux-x86_64.tar.gz::https://github.com/glrmrissi/isi_music/releases/download/v2.0.5/isi-music-linux-x86_64.tar.gz
    source_aarch64 = isi-music-linux-arm64.tar.gz::https://github.com/glrmrissi/isi_music/releases/download/v2.0.5/isi-music-linux-arm64.tar.gz
    sha256sums = 8cb92966f3d7c3bddb5daef4672d06e6d7ac0c74b972f3a7a9cad26ab80461c0
    sha256sums = 2920434215df05ad30c3375cf45d1fd14485ac3f366cf04c826b34f10edbc129
    sha256sums = cb09d994546e8d025928dd9e69b93be30446d7c26e0d6ac00abe9c2d965d004b
    sha256sums_x86_64 = SKIP
    sha256sums_aarch64 = SKIP

pkgname = isi-music-bin
